.AttendanceEntry {
  padding: 20px;
  flex-grow: 1;
}

.AttendanceEntry h1 {
  padding: 20px 20px 20px 0;
}

.AttendanceEntry__Header {
  outline: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
}