.BreadCrumbs {
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    user-select: none;
    box-sizing: border-box;
}

.BreadCrumbs > ul {
    padding-left: 10px;
    display: flex;
    list-style: none;
}

.BreadCrumbs > ul > li:hover {
    text-decoration: underline;
}

.BreadCrumbs__Content {
    margin-left: 10px;
}

.BreadCrumbs__List {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .9rem;
    font-weight: 400;
}

.BreadCrumbs__List > label {
    text-transform: capitalize;
}