.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(249, 249, 249);
}

.Login__Container {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 30px;
  height: max-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid gainsboro
}

.Login__Input {
  width: 100%;
  position: relative;
  font-size: 1rem;
  margin: 10px 0px 10px 0px;
}

.Login__Input__Password {
  position: relative;
  width: 100%;
  font-size: 1rem;
}

.Login__OTP {
  margin: 10px 10px 20px 10px;
  padding: 9px;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  outline: 1px solid black;
}

.Login__OTP::-webkit-outer-spin-button,
.Login__OTP::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

.Login__Button {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  width: 100%;
  background-color: var(--highlight-color);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.Login__Button:hover {
  border-radius: 40px;
}

.Login__Password__Toggle {
  position: absolute;
  top: 35px;
  right: 4%;
  z-index: 1000;
  cursor: pointer;
  color: var(--secondary-color);
}

.Login__Container > h4{
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
}

.Login__Container > p {

  margin-bottom: 20px;
  font-size: .8rem;
}

.Login__Forgot__Password {
  text-decoration: underline;
  /* color: white; */
  font-weight: 400;
  font-size: .9rem;
  cursor: pointer;
  transition: ease-in-out 100ms;
}

.Login__Forgot__Password:hover {
  color: var(--highlight-color);
}

@media only screen and (max-width: 600px) {
  .Login {
    background-color: white;
  }

  .Login__Container {
    width: 75vw;
    border: none;
  }

  .Login__OTP__Container {
    text-align: center;
    width: 100%;
  }

  .Login__OTP {
    font-size: 1rem;
    margin: 10px auto;
    text-align: center;
  }
}


