.Profile {
  padding: 10px;
  flex-grow: 1;
}

.Profile__Container {
  display: flex;
  height: 100%;
}

.Profile__Card {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #b6b5b5;
}

.Profile__Card__Right {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 1;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #b6b5b5;
  height: auto;
}

.Profile__Avatar {
  position: relative;
  margin-inline: auto;
  height: 300px;
  width: 300px;
  border-radius: 500px;
  overflow: hidden;
  background-color: transparent;
  outline: 1px solid gainsboro;
  z-index: 0;
}

.Profile__Avatar__Img {
  height: 100%;
  width: 100%;
  border-radius: 500px;
  user-select: none;
  z-index: 0;
}

.Profile__Avatar__Change {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.Profile__Information {
  margin-left: 20%;
  margin-top: 10%;
  font-size: 1.5rem;
}

.Profile__Information > p {
  font-size: 1.2rem;
}

.Profile__Container__Card {
  flex-grow: 1;
}

.Profile__Input {
  padding-left: 20px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: auto;
  background-color: gainsboro;
}

.Profile__Modal {
  width: 400px;
}

.Profile__Modal__Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.Profile__Modal__Button {
  background-color: var(--highlight-color);
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
  width: 100%;
  height: 10%;
  cursor: pointer;
  color: white;
  user-select: none;
  transition: ease-in-out 200ms;
}

.Profile__Modal__Button:hover {
  border-radius: 40px;
}

.Profile__Password__Toggle {
  z-index: 1000;
}

.Profile__Table__Container {
  height: 500px;
  overflow-y: scroll;
}

.Profile__Google__Auth {
  margin-top: 10px;
  width: max-content;
}

.Profile__Google__Auth > h3 {
  font-size: 1rem;
}

.Profile__Card__Info {
  width: 50%;
  height: max-content;
}

.Profile__Card__Right__Button {
  background-color: var(--highlight-color);
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 40%;
  font-size: 1rem;
  font-weight: 600;
  transition: ease-in-out 200ms;
}

.Profile__Card__Right__Button:hover {
  border-radius: 40px;
}

@media only screen and (max-width: 800px) {
  .Profile__Container {
    flex-direction: column;
  }

  .Profile__Card {
    width: auto;
  }

  .Profile__Avatar {
    width: 80%;
    height: 80%;
  }

  .Profile__Card__Right__Button {
    width: 100%;
  }
}
